A {
    color: blue;
    text-decoration: none
    }
    H3 {
    font-family: 'Arial';
    font-size: 12pt;
    color: blue;
    }
    H1 {
    font-family: 'Arial';
    font-size: 16pt;
    color: blue;
    }
    nomeCampo {
    font-family: 'Arial';
    font-size: 12pt;
    color: black;
    }